body {
}

.lightmode {
  background-color: bisque;
  color: black;
}

.darkmode {
  background-color: black;
  color: white;
}

.non-binary-mode {
  background-color: grey;
  color: whitesmoke;
}

#posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-box {
  border: 3px solid black;
  height: 400px;
}
